spring:

  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true

  sql: # data-h2.sql ? ???? ?? ?????.
    init:
      platform: h2
      mode: always
