spring:

  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true
      path: /h2-console

file:
  #path: /workspace/file
  path: /Users/hongseungtaeg/Desktop/toyproject/toyProject7-register/file