<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta th:replace="~{fragment/head :: headFrag('유저 관리하기')}"/>
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 40px;
        }

        .form {
            width: 100%;
            padding: 15px;
            margin: auto;
        }
    </style>
</head>
<body class="text-center">
<div class="form">
    <h1 class="h2 mb-3 fw-normal">유저 관리하기</h1>
    <button class="w-50 btn btn-primary btn-sm" onclick="location.href='/admin/manager/add'">등록하기</button>
    <br/><br/>
    <button class="w-50 btn btn-warning btn-sm" onclick="location.href='/admin'">뒤로가기</button>

    <table class="table table-striped table-hover" style="white-space: nowrap; max-width: 80%; margin-left:auto; margin-right:auto;">
        <thead>
        <tr>
            <th scope="col">이름</th>
            <th scope="col">출석수</th>
            <th scope="col">결석수</th>
            <th scope="col">생일</th>
            <th scope="col">전화번호</th>
            <th scope="col">팀</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}" th:onclick="|location.href='/admin/manager/detail/${user.id}'|">
            <td th:text="${user.name}">name</td>
            <td th:text="${user.attendanceNumber}">attendanceNumber</td>
            <td th:text="${user.absenceNumber}">absenceNumber</td>
            <td th:text="${user.birth}">birth</td>
            <td th:text="${user.phone}">phone</td>
            <td th:text="${user.team}">team</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>