<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>유저 출석 상세 정보</title>
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container" th:object="${userDetailDto}">
    <div class="py-5 text-center">
        <h2>유저 출석 상세 정보</h2>
        <button class="w-50 btn btn-primary btn-sm" onclick="location.href='/admin/manager'">뒤로가기</button>
    </div>
    <div>
        <span>이름 : [[*{name}]]</span>
        <span>출석수 : [[*{attendanceNumber}]]</span>
        <span>결석수 : [[*{absenceNumber}]]</span>
        <span>생일 : [[*{birth}]]</span>
        <span>전화번호 : [[*{phone}]]</span>
        <span>팀 : [[*{team}]]</span>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">날짜</th>
            <th scope="col">출석 시간</th>
            <th scope="col">변경하기</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="attendanceDate : *{attendanceDates}">
            <td th:text="${attendanceDate.date}">date</td>

            <td th:if="${attendanceDate.isAttendance}"
                th:text="${#strings.equals(attendanceDate.time, '12:00:00') ? '관리자의 의한 출석' : attendanceDate.time}">time</td>
            <td th:unless="${attendanceDate.isAttendance}"  th:text="결석">time</td>

            <td th:if="${attendanceDate.isAttendance}">
                <button class="btn btn-danger btn-sm"
                        th:onclick="|location.href='@{/admin/manager/change(userId=*{id}, date=${attendanceDate.date})}'|">
                    결석으로 변경
                </button>
            </td>
            <td th:if="${!attendanceDate.isAttendance}">
                <button class="btn btn-success btn-sm"
                        th:onclick="|location.href='@{/admin/manager/change(userId=*{id}, date=${attendanceDate.date})}'|">
                    출석으로 변경
                </button>
            </td>
        </tr>
        </tbody>
    </table>


</div> <!-- /container -->
</body>
</html>