<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>출석성공</title>
    <style>
        .container {
            max-width: 560px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>출석이 완료되었습니다.</h2>
        <br/>
        <div th:object="${teamAttendance}">
            <h4 th:text="*{team}">팀이름</h4>

            <h4>현재 출석자</h4>
            <div th:each="name : *{attendanceNames}">
                <span th:text="${name}">name</span>
            </div>
            <br/>
            <h4>현재 미출석자</h4>
            <div th:each="name : *{notAttendanceNames}">
                <span th:text="${name}">name</span>
            </div>
        </div>

    </div>
</div>
</body>
</html>