<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>비밀번호 변경 성공</title>
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>비밀번호 변경이 되었습니다.</h2>
        <button class="w-50 btn btn-success btn-lg" onclick="location.href='/admin'">홈으로</button>
    </div>
</div> <!-- /container -->
</body>
</html>